<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>tHe ClUb</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  </head>
  <body>
    <div>
    <h1>ThE ClUb</h1>
    <p>Welcome, Admin User <%= rows.name ? rows.name : ''; %>. Here is a list of current users:</p>
	<button type="button" id= "logoutadmin" onclick="window.location.href = '/club';">LOG OUT</button>
    <table>
      <tr>
        <th><h2>Username</h2></th>
      </tr>
      <% rows.users.forEach((r) => { %>
        <tr>
          <th><%= r.username %></th>
        </tr>
      <% }); %>
    </table>
</div>
    <button type="button" onclick="window.location.href = '/<%= rows.name %>/delete';">DELETE A USER</button>
	<button type="button" id= "stats" onclick="window.location.href = '/club/admin/<%= rows.name %>/stats';">STATS</button>
	<button type="button" id= "leaderboard" onclick="window.location.href = '/club/admin/<%= rows.name %>/leaderboard';">LEADERBOARD</button>
  </body>

  <script></script>
</html>
