<!DOCTYPE html>

<html>
	<head>
        <title>Club Game</title>
        <link href='https://fonts.googleapis.com/css?family=Monofett' rel='stylesheet'>
				<link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
        <script src="/scripts/socket.io.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/main.css" />
	</head>

	<body>
            <h1 style="color:white;">The Club</h1>
            <p id="p" >Now Playing: <%= name %> by <%= artist %></p>
						<img id="side" style="padding-left:5%" src="/assets/enemy1.gif">
						<img id="side" style="padding-left: 67%; width: 435px" src="/assets/enemy2.gif">
            <div class= "main" id="gamediv">
							<form class= "form" id="formscore" method="post" action='/club/<%= username %>/updatingstats'>
									<p id="score" style="color:black;">Score:</p>
									<p id="player score" style="color:black;">0</p><br>
									<p id="m" style="color:black;">Multiplier:</p>
									<p id="player mult" style="color:black;">x1.0</p><br>
	                <input type="number" class ="bpm" style="color:rgba(255, 0, 0, 0); background-color:rgba(255, 0, 0, 0);" id="bpm" value='<%= tempo %>'/>
	                <input class="button" type="button" value="change bpm" style="color:rgba(255, 0, 0, 0); background-color:rgba(255, 0, 0, 0);" onclick="change_bpm()" />

<<<<<<< HEAD
                    <p id = "countTitle">Start music in: </p>
                    <p id = "countDown"></p>
                    <iframe src="https://open.spotify.com/embed/track/<%= uri %>" id="iframeId" width="350" height="470" frameborder="0" allowtransparency="true" allow="encrypted-media" ></iframe>
                    <p id= 'songDur'> Duration: <%= duration %> </p>
                    <!-- <p id="songUri"> Song Uri: <%= uri %> </p> -->
                    <!-- <p id="p"> Token: <%= accessToken %> </p> -->
            </div>
=======
	                <input type="hidden" id="scorenum" name="scorenum" value="0">
	            </form>
                  <span style="padding-bottom: 100px;">
                  <p style="white-space:nowrap;display:inline; margin-left:5%;" id="playerColour">Your player colour is: </p>
									<p id="hit" style="color:blue; font-size:50px; margin-left: 35%; display:inline;">READY</p><br>
									<p style="color:black; white-space:nowrap;display:inline; margin-left: 33%; position: absolute"></p>
									<p id="items" style="display:inline; position:absolute;margin-left: 45%; position: absolute;"></p>
							</span>
              <div class ="row" id="game_grid">
                  <div id= "col1"class="top ">############</div><br>
                  #<div id= "col1">0000000000</div>#<br>
                  #<div id= "col1">0000000000</div>#<br>
                  #<div id= "col1">0000000000</div>#<br>
                  #<div id= "col1">0000000000</div>#<br>
                  #<div id= "col1">0000000000</div>#<br>
                  #<div id= "col1">0000000000</div>#<br>
                  #<div id= "col1">0000000000</div>#<br>
                  #<div id= "col1">0000000000</div>#<br>
                  #<div id= "col1">0000000000</div>#<br>
                  #<div id= "col1">0000000000</div>#<br>
                  <div id= "col1" class="bottom">############<br>
									<br id= "col1" ></div>
                  <div id= "col1" >------------<br></div>
                  <div id= "col1"> 00000||00000<br></div>
                  <div id= "col1">------------<br></div>
              </div>
		        </div>

			      <div id="musicdiv" align="center">
			         <p id = "countTitle">Start music in: </p>
				       <p id = "countDown"></p>
				       <iframe src="https://open.spotify.com/embed/track/<%= uri %>" id="iframeId" width="350" height="470" frameborder="0" allowtransparency="true" allow="encrypted-media" ></iframe>
				       <p id= 'songDur'> Duration: <%= duration %> </p>
				       <!-- <p id="songUri"> Song Uri: <%= uri %> </p> -->
				    </div>
>>>>>>> bd8c6afd8a448b380cf07da5628303552e25a893
            <script>
                var player_num = <%= playerNumber %>
                var room = '<%= room %>'
                var num_players = <%= numberOfPlayers %>
                var player_name = <% if(username){ %> '<%= username %>' <% }else{ %> <%= 'undefined' %> <%}%>
                var x = <%= enemiesStart[0] %>
                var y = <%= enemiesStart[1] %>
                var x2 = <%= enemiesStart[2] %>
                var y2 = <%= enemiesStart[3] %>
                var thirdx = <%= enemiesStart[4] %>
                var third = <%= enemiesStart[5] %>
            </script>
            <%if(!singlePlayer){%>
                <audio id="audio" src="/audio/<%= track %>.mp3" ></audio>
            <%}%>
            <script type="text/javascript" src="/scripts/game.js"></script> 
            <button type="submit" class="button" id="multiplayerexit" value="Exit" form="formscore" style="margin-left:42.5%;">EXIT</>


            <audio id="audio" src="<%= track %>.mp3" ></audio>
            
            <script>
<<<<<<< HEAD
                function play() {
                    var audio = document.getElementById("audio");
                    audio.play();
                }
                var title = document.getElementById("countTitle");
                var display = document.getElementById("countDown");
                var interval = setInterval(countDown,1000);
                var seconds = 3;
                function countDown() {
                    if (seconds == 0) {
                        title.innerHTML = "Play"
                        display.innerHTML = "Now";
                        setTimeout(function(){setTimeout(function(){game_running = true; game_loop(); setTimeout(function(){game_end();}, 1000*<%= duration %>)}, 1000/FRAMERATE);}, 2000);
                        clearInterval(interval)
                        play()
                        console.log("Play Now")
                    } else {
                        // console.log(seconds)
                        display.innerHTML = seconds
                        seconds = seconds - 1;
                    }
                }
                window.onload = countDown();
     
=======
                   // document.getElementById('multiplayerexit').style.visibility = 'hidden';
                    var title = document.getElementById("countTitle");
                    var display = document.getElementById("countDown");
                    var interval = setInterval(countDown,1000);
                    var seconds = 3;
                    function countDown() {
                        if (seconds == 0) {
                            title.innerHTML = "Play"
                            display.innerHTML = "Now";
                            setTimeout(function(){setTimeout(function(){game_running = true; game_loop(); setTimeout(function(){game_end();}, 1000*<%= duration %>)}, 1000/FRAMERATE);}, 2000);
                            clearInterval(interval)
                            console.log("Play Now")
                            document.getElementById('audio').play()
                        } else {
                            // console.log(seconds)
                            display.innerHTML = seconds
                            seconds = seconds - 1;
                        }
                    }
                    window.onload = countDown();
                    window.addEventListener('unload', (event) => {
                        socket.emit('leave', room)
                    })
                    let colours = ['blue', 'green', 'purple', 'orange']
                    document.getElementById("playerColour").innerHTML += ` ${colours[player_num]}`
                    document.getElementById("playerColour").style.color = colours[player_num]
>>>>>>> bd8c6afd8a448b380cf07da5628303552e25a893
                </script>

            </div>

	</body>
</html>
