<!DOCTYPE html>

<html>
	<head>
        <title>Club Game Prototype</title>
        <link href='https://fonts.googleapis.com/css?family=Monofett' rel='stylesheet'>
        <script src="/scripts/socket.io.js"></script>
        <link rel="stylesheet" type="text/css" href="/stylesheets/game.css" />
        <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
	</head>

	<body>
            <h1>The Club</h1>
            <p id="p" >Now Playing: <%= name %> by <%= artist %></p>

            <form class= "form">

                    <p id="score">Score:</p>
                    <p id="player score">0</p>
                    <p id="m">Multiplier:</p>
                    <p id="player mult">x1.0</p>
                    <input type="number" class ="bpm" id="bpm" value='<%= tempo %>'/>
                    <input class="button" type="button" value="change bpm" onclick="change_bpm()" />
                </form>

            <div class= "main" id="gamediv">
                <div class ="row" id="game_grid">
                        <div id= "col1"class="top ">############</div><br>
                        #<div id= "col1">0000000000</div>#<br>
                        #<div id= "col1">0000000000</div>#<br>
                        #<div id= "col1">0000000000</div>#<br>
                        #<div id= "col1">0000000000</div>#<br>
                        #<div id= "col1">0000000000</div>#<br>
                        #<div id= "col1">0000000000</div>#<br>
                        #<div id= "col1">0000000000</div>#<br>
                        #<div id= "col1">0000000000</div>#<br>
                        #<div id= "col1">0000000000</div>#<br>
                        #<div id= "col1">0000000000</div>#<br>
                        <div id= "col1" class="bottom">############<br>
                        <br id= "col1" ></div>
                        <div id= "col1" >------------<br></div>
                        <div id= "col1"> 00000||00000<br></div>
                        <div id= "col1">------------<br></div>
                    </div>
                </div>
            <div id="musicdiv" align="center">

                    <p id = "countTitle">Start music in: </p>
                    <p id = "countDown"></p>
                    <iframe src="https://open.spotify.com/embed/track/<%= uri %>" id="iframeId" width="350" height="470" frameborder="0" allowtransparency="true" allow="encrypted-media" ></iframe>
                    <p id= 'songDur'> Duration: <%= duration %> </p>
                    <!-- <p id="songUri"> Song Uri: <%= uri %> </p> -->
                    
            </div>
            <script>
                var player_num = <%= playerNumber %>
                var num_players = <%= numberOfPlayers %>
            </script>
            <script type="text/javascript" src="/scripts/game.js"></script>  


            <audio id="audio" src="<%= track %>.mp3" ></audio>
            
            <script>
                function play() {
                    var audio = document.getElementById("audio");
                    audio.play();
                }
                var title = document.getElementById("countTitle");
                var display = document.getElementById("countDown");
                var interval = setInterval(countDown,1000);
                var seconds = 3;
                function countDown() {
                    if (seconds == 0) {
                        title.innerHTML = "Play"
                        display.innerHTML = "Now";
                        setTimeout(function(){setTimeout(function(){game_running = true; game_loop(); setTimeout(function(){game_end();}, 1000*<%= duration %>)}, 1000/FRAMERATE);}, 2000);
                        clearInterval(interval)
                        play()
                        console.log("Play Now")
                    } else {
                        // console.log(seconds)
                        display.innerHTML = seconds
                        seconds = seconds - 1;
                    }
                }
                window.onload = countDown();
     
                </script>
                
            </div>   

	</body>
</html>
