<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>tHe ClUb</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="/scripts/socket.io.js"></script>
    <script>
      const roomName = "<%= roomName %>"
      const username = "<%=username%>"
      const socket = io('/chat')
      socket.emit('join', {roomName, username});
      socket.on('newMessage', function (data) {
        console.log(`new message: ${data}`)
        const {message, username} = data;
        const newElement = document.createElement('li')
        newElement.className = 'message'
        newElement.innerHTML = `${username}: ${message}`;
        document.getElementById('messages').append(newElement);
      })

      socket.on('userJoined', newUser => {
        const userTag = document.createElement("p")
        userTag.id = `user-${newUser}`
        userTag.innerHTML = newUser;
        document.getElementById('userList').append(userTag);
      })

      socket.on('userLeft', leavingUser => {
        document.getElementById(`user-${leavingUser}`).remove()
      })

      socket.on('launchGame', (members) => {
        playerNum = members.indexOf('<%=username%>')
        window.location.href = `/club/<%=roomName%>/<%=username%>/game/${playerNum}`;
      })

      function sendMessage(e) {
        const messageNode = document.getElementById('userMessage')
        socket.emit('message', {
          message: messageNode.value,
          room: roomName,
          username
        });
        messageNode.value = ''
        console.log("sent");
        e.preventDefault();
      }

      function launch(){
        socket.emit('startGame', roomName)
      }

      function openForm(formToShow) {
        document.getElementById(formToShow).className = '';
      }
      function closeForm(formToHide) {
        document.getElementById(formToHide).className = 'hide';
      }

      window.addEventListener('unload', (event) => {
        socket.emit('leave', {roomName, username})
      })
    </script>
  </head>


<body>
  <div id="user-container">
    <h1>ThE ClUb</h1>
    <p>Invite players to this room: <%= roomName %></p>
    <div id="userList"><h2>Current players in this room:</h2>
    <% users.forEach(user => { %>
      <p id='user-<%=user%>'><%= user %></p>
    <% }) %>
    </div>
  </div>
  <button type="button" onclick="launch()">PLAY</button>
  <button type="button" onclick="window.location.href = '/club/<%=username%>/lobby';">BACK</button>


  <button class="open-button" onclick="openForm('chatbox');">Chat</button>
  <div id="chatbox" class='hide'>
    <form id="message">
      <div class="user-container">
        <h1>Chatbox</h1>
        <ul id="messages">
        </ul>
        <textarea id="userMessage" placeholder="Type message.." name="msg" required></textarea>
        <button class="button" onclick="sendMessage(event)">Send</button>
        <button type="button" class="cancel" onclick="closeForm('chatbox')">Close</button>
      </div>
    </form>
  </div>
</body>

</html>