<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>ThE ClUb</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <script src="/scripts/socket.io.js"></script>
    <script>
      const roomName = "<%= roomName %>"
      const username = "<%=username%>"
      const socket = io('/chat')
      socket.emit('join', {roomName, username});
      socket.on('newMessage', function (data) {
        console.log(`new message: ${data}`)
        const {message, username} = data;
        const newElement = document.createElement('li')
        newElement.className = 'message'
        newElement.innerHTML = `${username}: ${message}`;
        document.getElementById('messages').append(newElement);
      })

      socket.on('userJoined', newUser => {
        const userTag = document.createElement("p")
        userTag.id = `user-${newUser}`
        userTag.innerHTML = newUser;
        document.getElementById('userList').append(userTag);
      })

      socket.on('userLeft', leavingUser => {
        document.getElementById(`user-${leavingUser}`).remove()
      })

      socket.on('launchGame', ({members, song}) => {
        playerNum = members.indexOf('<%=username%>')
        window.location.href = `/club/<%=roomName%>/<%=username%>/game/${playerNum}?song=${song}`;
      })

      function sendMessage(e) {
        const messageNode = document.getElementById('userMessage')
        socket.emit('message', {
          message: messageNode.value,
          room: roomName,
          username
        });
        messageNode.value = ''
        e.preventDefault();
      }

      function launch(){
        let songlist = document.getElementById("songList")
        let song = songlist.options[songlist.selectedIndex].value
        socket.emit('startGame', {roomName, song})
      }

      function openForm(formToShow) {
        document.getElementById(formToShow).className = '';
      }
      function closeForm(formToHide) {
        document.getElementById(formToHide).className = 'hide';
      }

      window.addEventListener('unload', (event) => {
        socket.emit('leave', {roomName, username})
      })
    </script>
  </head>


<body>
  <div id="user-container">
    <h1>ThE ClUb</h1>
    <p>Invite players to this room: <%= roomName %></p>
    <div id="userList"><h2>Current players in this room:</h2>
    <% users.forEach(user => { %>
      <p id='user-<%=user%>'><%= user %></p>
    <% }) %>
    </div>
  </div>
  <button type="button" onclick="launch()">PLAY</button>
  <button type="button" onclick="window.location.href = '/club/<%=username%>/lobby';">BACK</button>
  <form action="/getSong" method="post"> 
    <select name="songs">
      <option value="slow-dancing-in-the-dark">SLOW DANCING IN THE DARK</option>
      <option value="breathe">Breathe</option>
      <option value="bad-guy">bad guy</option>
      <option value="dont-start-now">Don't Start Now</option>
      <option value="how-do-you-sleep">How Do You Sleep?</option>
      <option value="its-you">It's You</option>
      <option value="dear-evan-hansen">Waving Through a Window</option>
      <option value="hadestown">Hadestown</option>
    </select>
    <input type="submit" value="Submit">
  </form>
  <!-- <div class="dropdown">
    <button onclick="getSongs()" class="dropbtn">Dropdown</button>
    <div id="myDropdown" class="dropdown-content">
      <a href="#home">SLOW DANCING IN THE DARK</a>
      <a href="#about">Breathe</a>
      <a href="#contact">bad guy</a>
      <a href="#contact">Don't Start Now</a>
      <a href="#contact">How Do You Sleep?</a>
      <a href="#contact">It's You</a>
      <a href="#contact">Waving Through a Window</a>
      <a href="#contact">Hadestown II</a>
    </div>
  </div> -->

<<<<<<< HEAD
  <script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function getSongs() {
      document.getElementById("myDropdown").classList.toggle("show");
    }
    
    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
      }
    }
    </script>
=======
  <select name="songs" id="songList">
    <option value="slow-dancing-in-the-dark">SLOW DANCING IN THE DARK</option>
    <option value="breathe">Breathe</option>
    <option value="bad-guy">bad guy</option>
    <option value="dont-start-now">Don't Start Now</option>
    <option value="how-do-you-sleep">How Do You Sleep?</option>
    <option value="its-you">It's You</option>
    <option value="dear-evan-hansen">Waving Through a Window</option>
    <option value="hadestown">Hadestown</option>
  </select>


>>>>>>> bd8c6afd8a448b380cf07da5628303552e25a893

  <button class="open-button" onclick="openForm('chatbox');">Chat</button>
  <div id="chatbox" class='hide'>
    <form id="message">
      <div class="user-container">
        <h1>Chatbox</h1>
        <ul id="messages">
        </ul>
        <textarea id="userMessage" placeholder="Type message.." name="msg" required></textarea>
        <button class="button" onclick="sendMessage(event)">Send</button>
        <button type="button" class="cancel" onclick="closeForm('chatbox')">Close</button>
      </div>
    </form>
  </div>
</body>

</html>
